@import '../Sass//variables';

.timeline{
  

    &:hover{
        background-color: #fcfcfc;
        border-radius: 20px;
       
        
       
    }
}


.sec-timeline {
    margin-top: 1.3rem;
}



.timeline-item {
    position: relative;
    padding: 25px 0 20px 40px;

}

.timeline-item:before {
    content: '';
    position: absolute;
    display: block;
    height: 110%;
    background-color: #f5f6f9;
    width: 1px;
    left: 15px;
    bottom: 5px;
}


.timeline-item:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background-color: #f5f6f9;
    width: calc(100% - 15px);
    left: 15px;
    bottom: 3px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.timeline-item:first-child {
    padding-top: 3px;
}

.timeline-item h5.item-period {
    border-color: $secondary-color;
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 5px -40px;
    color: #666;
    background-color: #fff;
    padding: 0 10px;
    line-height: 23px;
    border: 2px solid $secondary-color;
    border-radius: 30px;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.timeline-item .item-company {
    display: inline-block;
    font-size: 12px;
    color: #666;
    opacity: .7;
    margin-left: 5px;
}

.timeline-item .item-title {
    font-size: 16px;
    margin: 10px 0 7px;
}